@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in;
}

.lift-on-hover {
  transition: all 0.2s ease-in-out;
}

.lift-on-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  height: 4px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
:root {
  --color-primary: #012e58;
  --color-primaryGradient: #08447D;
  --color-secondary: #C9974C;
  --color-white: #fff;
  --color-bgwhite: #fff;
  --color-black: #000;
  --color-gray-100: #EEEDED;
  --color-gray-200: #CACACA;
  --color-border: #666666;
  --color-textprimary: #013362;
  --color-blacktext: #000000;
  
}


.dark {
  --color-textprimary: #fff;
  --color-primary: #0F1729;
  --color-primaryGradient: #041131; 
  --color-secondary: #C9974C;
  --color-white: #F9FAFB;
  --color-bgwhite: #1F2A3D;
  --color-black: #1F2937;
  --color-gray-100: #1F2937;
  --color-gray-200: #4B5563;
  --color-border: #4B5563;
  --color-blacktext: #ffffff;
}
html{
  scroll-behavior: smooth;
}
